tr
  td = link_to "#{gist.question.body.truncate(25)}", admin_question_path(gist.question)
  td = link_to "#{gist.path}", "https://gist.github.com/#{gist.path}", target: '_blank'
  td = gist.user.email
